<apex:page standardcontroller="Quote" extensions="PGIvalidateQuoteDeleteController" >
        <apex:form >
         <apex:includeScript value="/soap/ajax/23.0/connection.js"/>
        <apex:includeScript value="/soap/ajax/23.0/apex.js"/>
        <apex:actionFunction name="doDelete" action="{!checkDelete}" />
        
        </apex:form>
        <script type="text/javascript">
              var QuoteStatus = '{!quote.Status}';
              var oppstage='{!quote.Opportunity.Opp_Stage__c}'
              if(oppstage=='Pilot/Trial/Evaluation'|| oppstage=='Negotiation/Verbal' || oppstage=='Closed Won'){
                        alert('Record cannot be Deleted since OpportunityStage is in {!quote.Opportunity.Opp_Stage__c}!');
                        window.parent.location.href ='/{!quote.OpportunityId}';
                 }else{
	                var deleteNotAllowedStatuses = '{!deleteNotAllowedQuoteStatus}';
					if(deleteNotAllowedStatuses.indexOf(QuoteStatus) != -1){
	
	                         alert('Record cannot be Deleted since its status is in {!quote.Status}!');
	                         window.parent.location.href ='/{!quote.OpportunityId}';
	                         }else{
	                                doDelete();
	                                alert('Record is deleted Successfully');
	                }
                 }
        </script>  
</apex:page>